.team{
    background-color: var(--color-gray1);
    &__title{
        h2{
            text-wrap: balance;
        }
        position: relative;
        z-index:2;
        & > svg{
            position: absolute;
            z-index: -1;
            fill:var(--color-white);
            width:100px;
            transform: translate(-50%,-5%);
            user-select: none;
            transition-duration: 0.3s;
            
        }
    }
    .single-user{
        --size-image: 250px;
        text-align: center;
        font-size: 0.9rem;
        &__image{
            position: relative;
            img {
                border-radius: 100%;
                box-shadow: var(--shadow-base);
                width: var(--size-image);
                aspect-ratio: 1/1;
                object-fit: cover;
                margin-inline: auto;
                &:hover + .single-user__decoration {
                    animation: rotate180 0.5s ease-in-out;
                }
            }
            
        }
        &__decoration {
            position: absolute;
            z-index: -1;
            border-radius: 100%;
            margin-inline:auto;
            width:100%;
            max-width: var(--size-image);
            aspect-ratio: 1/1;
            inset:0;
            div, div::before, div::after{
                position: absolute;
                width: 20px;
                aspect-ratio: 1/1;
                border-radius: 100%;
                background-color: var(--color-primary2-opacity);
                transition-duration: 0.3s;
            }
            div::before{
                content: '';
                display: block;
                width:30px;
                left: -35px;
                top: 18px;
            }
            div::after{
                content: '';
                display: block;
                width:10px;
                left: 33px;
                top: -9px;
            }
            div:nth-of-type(1){
                left: 17%;
                top: 4%;
            }
            div:nth-of-type(2){
                right: 17%;
                bottom: 4%;
                transform: rotate(180deg);
            }
            
        }
        &__content{
            padding-block-start: 1rem;
            h4{
                background: var(--color-main-gradient);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 1.2;
                padding-block-end: 0.5rem;
            }
        }
    }
}
@keyframes rotate180 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }
@media (max-width: 1024px) {
    .team .team__title > svg{
        left:50%;
    }
}