.services{
  position: relative;
  &:before{
    content:'';
    display: block;
    width:500px;
    max-width: 80%;
    aspect-ratio: 1/1;
    background-color:$color-primary1-opacity;
    position:absolute;
    top:30%;
    left:-5vw;
    z-index:-1;
    transform: rotate(55deg);
  }
  &-content{
    display: flex;
    align-items: center;
    background: $color-gray1 url('/assets/images/background.png') top left / 300px fixed;
    position: relative;
    border-radius: 2rem;
    padding:5rem;
    > div{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  &-box-container{
    display: flex;
    flex-direction: column;
    gap:2rem
  }
}
@media (max-width: 1024px) {
  .services:before{
    top:10%
  }
  .services-content{
    padding:2rem;
    border-radius: 2rem;
    order:-1;
  }
}