:root {
  --color-main1: #23AECD;
  --color-main2: #B55694;
  --color-main-gradient: linear-gradient(to right, #C33374, #7C2681);
  --color-main-gradient-alt: linear-gradient(to left, #C33374, #7C2681);
  --color-primary1: #8EDD00;
  --color-primary1-opacity: #D0FF7A;
  --color-primary2: #B286FD;
  --color-primary2-opacity: #D2B7FF;
  --color-primary3: #E2773A;
  --color-primary3-opacity: #FFB387;
  --color-white: #FFFFFF;
  --color-gray1: #F5F5F5;
  --color-gray2: #626262;
  --color-black: #000000;
  --shadow-base: 0 5px 5px #00000040;
  --shadow-large: 0px 0px 50px 5px #00000040;
  --font-base: 'Inter', sans-serif;
  --font-title: 'Space Grotesk', serif;
}

.dark-mode {
  --color-black: blue;
}