:root {
  --color-main1: #23aecd;
  --color-main2: #b55694;
  --color-main-gradient: linear-gradient(to right, #c33374, #7c2681);
  --color-main-gradient-alt: linear-gradient(to left, #c33374, #7c2681);
  --color-primary1: #8edd00;
  --color-primary1-opacity: #d0ff7a;
  --color-primary2: #b286fd;
  --color-primary2-opacity: #d2b7ff;
  --color-primary3: #e2773a;
  --color-primary3-opacity: #ffb387;
  --color-white: #ffffff;
  --color-gray1: #f5f5f5;
  --color-gray2: #626262;
  --color-black: #000000;
  --forced-theme-color-white: var(--color-white);
  --forced-theme-color-black: var(--color-black);
  --shadow-base: 0 5px 5px #00000040;
  --shadow-large: 0px 0px 50px 5px #00000040;
  --font-base: "Inter", sans-serif;
  --font-title: "Space Grotesk", serif;
}

.dark-mode {
  --color-white: #434343;
  --color-gray1: #313131;
  --color-gray2: #626262;
  --color-black: #ffffff;
  --forced-theme-color-white: var(--color-black);
  --forced-theme-color-black: var(--color-white);
}
