.services-box{
  display:flex;
  align-items: center;
  gap:1.5rem;
  background-color:$color-gray1;
  padding:1.5rem;
  border-radius: 2rem;
  &__image{
    background-color:$color-white;
    padding:1rem;
    border-radius: 1.5rem;
    filter:drop-shadow($shadown-base);
  }
  &__info p{
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .services-box{
    flex-direction: column;
    gap:1.5rem;
    &__info{
      align-self: start;
    }
  }
}