.services-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--color-gray1);
  padding: 1.5rem;
  border-radius: 2rem;
  &:hover .services-box__image {
    transform: translateY(-10px);
  }
  &__image {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 1.5rem;
    filter: drop-shadow(var(--shadow-base));
    transition-duration: 0.3s;
  }
  &__info p {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .services-box {
    flex-direction: column;
    gap: 1.5rem;
    &__info {
      align-self: start;
    }
  }
}
