.last-articles {
  position: relative;
  .decoration-circle {
    width: 800px;
    max-width: 75%;
    aspect-ratio: 1/1;
    border: 1px solid var(--color-primary3-opacity);
    position: absolute;
    padding: 20px;
    border-radius: 100%;
    top: -30%;
    left: 0;
    transform: translateX(-45%);
    z-index: -1;
    animation: pulse 4s infinite;
    > div {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 100%;
      background-color: var(--color-primary3-opacity);
    }
  }
}
@keyframes pulse {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50%,
  100% {
    scale: 1;
  }
}
@media (max-width: 640px) {
  .last-articles .decoration-circle {
    top: -18%;
  }
}
