.blubbles {
	display: flex;
	align-items: start;
	gap: 25px;
	position: absolute;
}
.blubble__single {
	border-radius: 50%;
	background-color: $color-primary2-opacity;
	aspect-ratio: 1/1;
	&:nth-child(1) {
		width: 70px;
		align-self: end;
		animation-delay: 0.3s !important;
	}
	&:nth-child(2) {
		width: 40px;
		align-self: start;
		animation-delay: 0.2s !important;
	}
	&:nth-child(3) {
		width: 20px;
		align-self: start;
		margin-top: 3%;
	}
	&:nth-child(4) {
		width: 15px;
		align-self: center;
		overflow: hidden;
		background-color: transparent;
		display: flex;
		flex-direction: column;
	}
	&:nth-child(4):before {
		content: '';
		display: block;
		width: 100%;
		background-color: $color-primary2-opacity;
		flex: 0.5;
	}
}
.blubble__single.blubble__single--border {
	background-color: transparent;
	border: 1px solid $color-primary2;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
		content: '';
		display: block;
		width: 85%;
		aspect-ratio: 1/1;
		background-color: $color-primary2-opacity;
		border-radius: 50%;
	}
}
.blubbles[data-direction="left"],.blubbles[data-direction="right"][data-position^="bottom"] {
	flex-direction: row;
}
.blubbles[data-direction="right"],.blubbles[data-direction="left"][data-position^="bottom"] {
	flex-direction: row-reverse;
}
.blubbles[data-position="top-left"] {
	top: 0;
	left: 0;
	transform: translate(20%,-50%);
}
.blubbles[data-position="top-right"] {
	top: 0;
	right: 0;
	transform: translate(-20%,-50%);
}
.blubbles[data-position="bottom-left"] {
	bottom: 0;
	left: 0;
	transform: rotate(180deg) translate(-20%, -50%);
}
.blubbles[data-position="bottom-right"] {
	bottom: 0;
	right: 0;
	transform: rotate(180deg) translate(20%, -50%);
}
.blubbles[data-animation="true"]{
	.blubble__single{
		&:nth-child(1),&:nth-child(2),&:nth-child(3) {
			animation: blubbles-in 0.5s ease-in-out;
		}
	}
}


@keyframes blubbles-in {
	0%,100% {
		scale: 1;
	}
	50%{
		scale:1.2;
	}
  }



@media (max-width: 640px) {
	.blubbles{
		zoom: 0.7;
	}
}