.footer{
  font-size: 0.9rem;
  border-top-width: 4px;
  border-top-style: solid;
  border-image: var(--color-main-gradient) 1;
  &__logo{
    width: 120px;
  }
  a{
    text-decoration:underline;
  }
  .scrollButton{
    position: fixed;
    background-color:var(--color-primary2-opacity);
    width:40px;
    height:40px;
    border-radius: 0.5rem;
    bottom:2rem;
    right:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-base);
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    transform-origin: center;
    z-index: 9998;
    svg{
      width:50%;
      fill:var(--color-main2);
    }
    &:hover{
      transform: scale(1.2);
    }
  }
  .scrollButton--active{
    opacity: 1;
    pointer-events: initial;
  }
}