.presentation{
    background: $color-gray1 url('/assets/images/background.png') top left / 300px fixed;
    position: relative;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    .decoration-circle{
        width:700px;
        aspect-ratio: 1/1;
        border:1px solid $color-primary2;
        position:absolute;
        padding:20px;
        border-radius: 100%;
        right:0;
        bottom:0;
        transform: translate(40%,40%);
        & > div{
            width:100%;
            aspect-ratio: 1/1;
            background-color:$color-primary2-opacity;
            border-radius: 100%;
            animation: rotation-circle 4s linear infinite;
            .decoration-circle__single{
                border-radius: 100%;
                aspect-ratio: 1/1;
                background-color:$color-primary2;
                position:absolute;
                transform: translate(-50%, -50%);
            }
            .decoration-circle__single:nth-child(1){
                width: 3%;
                top: 5%;
                left: 8.5%;
            }
            .decoration-circle__single:nth-child(2){
                width: 6%;
                top: 11%;
                left: 3%;
            }
            .decoration-circle__single:nth-child(3){
                width: 9%;
                top: 21%;
                left: -4%;
            }
        }
    }
    .decoration-circle.decoration-circle--top-left{
        left:0;
        top:0;
        transform: translate(-40%,-40%);
    }
    .decoration-circle.decoration-circle--primary3{
        border:1px solid $color-primary3;
        > div{
            background-color:$color-primary3-opacity;
            animation: rotation-circle 4s linear infinite;
            animation-delay: 1s;
            .decoration-circle__single{
                background-color:$color-primary3;
            }
        }
    }
    .decoration-square{
        width:25vw;
        aspect-ratio: 1/1;
        border:1px solid $color-primary1;
        position:absolute;
        padding:20px;
        bottom:-25vh;
        left:-5vw;
        animation: rotation-square 5s infinite;
        > div{
            width:100%;
            aspect-ratio: 1/1;
            background-color:$color-primary1-opacity;
        }
    }
    .presentation-container{
        max-width: 750px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap:2rem;
        position: relative;
        z-index:1;

        p {
          font-size: 1.2rem;
        }
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:1rem 2rem;
    }
    &__arrow{
        position: absolute;
        bottom: 5svh;
        transform: translateX(-50%);
        filter: drop-shadow($shadow-base);
        animation: bounce 4s infinite;
        z-index: 1;
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
@keyframes rotation-circle {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes rotation-circle-invert {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotation-square {
    0% {
        transform: rotate(55deg);
        scale:1;
    }
    7% {
        scale:1.2;
    }
    14% {
        transform: rotate(235deg);
        scale:1;
    }
    100% {
        transform: rotate(235deg);
    }
}
@media (max-width: 1320px) {
    .presentation{
        overflow: hidden;
        .decoration-circle{
            transform: translate(50%,50%);
        }
        .decoration-circle.decoration-circle--top-left{
            transform: translate(-50%,-50%);
        }
    }
}
@media (max-width: 1024px) {
    .presentation{
        .decoration-square{
            display:none;
        }
        .decoration-circle{
            left:50%;
            bottom:0;
            transform: translate(-50%,80%);
        }
        .decoration-circle.decoration-circle--top-left{
            left:50%;
            top:0;
            transform: translate(-50%,-80%);
        }
        &__arrow{
            bottom: 3svh;
            img{
                width:25px;
            }
        }
    }
}

  