.last-articles-box {
  overflow: hidden;
  border-radius: 1rem;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  box-shadow: var(--shadow-base);
  background-color: var(--color-white);
  width:100%;
  position: relative;
  &__read-time{
    svg{
      width: 15px;
      fill: var(--forced-theme-color-white);
    }
    position: absolute;
    z-index: 999;
    top:1rem;
    right:1rem;
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    line-height: 0.6rem;
    color: var(--forced-theme-color-white);
    background-color: var(--color-black-opacity);
    display: flex;
    align-items: center;
    gap:0.5rem;
    border-radius: 0.8rem;
  }
  &__image {
    display: block;
    overflow: hidden;
  }
  &__image img {
    width:100%;
    transition-duration: 0.3s;
  }
  & > div {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    flex-grow: 1;
  }
  h4,h5{
    line-height: 1.15;
  }
  &__description {
    font-size: 0.9rem;
  }
  &__tags {
    display: flex;
    align-items: center;
    gap:0.5rem;
    > span{
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        background-color: var(--color-gray1);
        font-size: 0.7rem;
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
    }
}
  &__finalrow {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    line-height: 1;
  }
  &__date{
    font-size: 0.9rem;
  }
  &__button {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap:0.5rem;
    svg{
      fill:var(--color-main2);
      transform: rotate(180deg);
    }
  }
  &:hover {
    transform: translateY(-10px);
    .last-articles-box__image img {
      scale: 1.1;
    }
  }
}
.last-articles-box[data-size="S"] > *{
  zoom:0.8;
}
.last-articles-box[data-size="L"] > *{
  zoom:1.2;
}
.last-articles-box[data-size="visual"]{
  aspect-ratio: 1/1;
  background: var(--forced-theme-color-black) top center / cover no-repeat;
  color:var(--forced-theme-color-white);
  & > div {
    justify-content: flex-end;
    background: linear-gradient(to bottom, transparent -20%, var(--forced-theme-color-black) 80%);
  }
}
@media (max-width: 1024px) {
  .last-articles-box {
    max-width: 410px;
    width: 100%;
  }
}

